@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-3 p-3 mb-2 bg-secondary text-white">
            <ol>
                <li>list1</li>
                <li>list2</li>
                <li>list3</li>
                <li>list4</li>
                <li>list5</li>
            </ol>
        </div>
        <div class="col-9">
            <div class="text-center">
                <h1>Welcome to our online trading platform</h1>
            </div>

            <div class="row">
                <div class="col-4" style="width: 50px; height: 50px; border: 1px solid black">blok1</div>
                <div class="col-4" style="width: 50px; height: 50px; border: 1px solid black">blok2</div>
                <div class="col-4" style="width: 50px; height: 50px; border: 1px solid black">blok3</div>
            </div>
        </div>
    </div>
